      <div class="row">
        <div class="col-md-2">
          <%= gravatar_helper comment.user %>
        </div>
        <div class="col-md-10">
          <div>
            <span class="comment-name"><%= comment.user.name %></span>
            <div class="comment-attribution">
              <%= distance_of_time_in_words(comment.created_at, Time.now) %> ago
            </div>
            <br>
            <%= comment.content %>
          </div>
        </div>
      </div>
      <hr>
