<div class="mastfoot fixed-bottom">
  <div class="" style="text-align:center !important;">
    <p><%= source_helper("") %></p>
    <p class="app-footer">&copy; 2019 | Miguel Rust All Rights Reserved</p>
  </div>
</div>