<div class="app-card-container">
  <div class="card">
    <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
              <center><%= image_tag "circular_logo.png", width: "100%", alt:"Profile Image", style:"border-radius:50%;"%></center> 
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
                <p><span class="strong">Hello World</span> I like making things.</p>
          </div>
    </div>
  </div>
</div>