<h1>Pages#contact</h1>
<!-- Helper Methods that Help Parse Numbers -->
<p><%= number_to_phone "1110002222" %></p>
<p><%= number_to_currency "6.00" %></p>
<p><%= number_to_percentage ".55" %></p>
<p><%= number_with_delimiter "150399034" %></p>
