<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <style>
      body{
        background: url('https://www.tesla.com/tesla_theme/assets/img/models/slideshow/Front_Grill-1440.jpg?20170420');
        background-repeat: no-repeat;
        background-size:cover;
        margin:0;
        padding:0;
        font-family:"Quicksand", sans-serif !important;
        color:white;
        overflow:hidden;
      }
      header{
        text-align:left;
        font-size:20px;
        width:100%;
        padding:30px;
        color:white;
      }
      .branding{
        font-size:50px;
        margin-right:100px;
      }
      ul{
        list-style:none;
        display:inline;
        color:white;
      }
      li{
        display:inline;
        margin: 20px;
      }
      footer{
        position:fixed;
        bottom:0;
        padding:30px;
        width:100%;
        color:white;
        text-align:center;
      }
      .popup{
        position:fixed;
        top:30%;
        width:100%;
        text-align:center;
        padding:30px;
      }
      h1{
        font-size:2.5em;
      }
      .btn{
        color:white;
        background-color:black;
        font-size:1.5em;
        padding:10px;
        border: 1px solid transparent;
        margin: 30px;
      }
      .btn:hover{
        border: 1px solid white;
      }
    </style>
  </head>
  <body>
    <header>
      <ul>
        <li class='branding'>Tesla</li>
        <li>Model X</li>
        <li>Model S</li>
        <li>Model 3</li>
        <li>Energy</li>
      </ul>
      <ul style='margin-left:50px;'>
        <li>Charging</li>
        <li>Updates</li>
        <li>Support</li>
        <li>Find Us</li>
        <li>Shop</li>
      </ul>
    </header>
    <div class='popup'>
      <h1>Quickest Acceleration.
Longest Range. The Safest Cars Ever.</h1>
      <button class='btn'>Order Yours</button>
      <button class='btn'>New Inventory</button>
      <button class='btn'>Used Inventory</button>
      <button class='btn'>Test Drive</button>
    </div>
    <footer>
     <ul>
       <li>&copy Tesla</li>
       <li>Contact</li>
       <li>Legal</li>
       <li>Carreers</li>
     </ul>
    </footer>
  </body>
  
</html>