          <div class="inner cover">
            <h1 class="cover-heading">Welcome</h1>
            <p class="lead">I am a young and aspiring web developer based in Orem,UT. I have worked on all sorts of projects from portfolio page for an artist to a site for a local preeschool.</p>
            <p class="lead">
              <%= link_to "About ME", about_path, class: 'btn btn-lg btn-secondary' %>
            </p>
          </div>

